USE [master]
GO
/****** Object:  Database [vehiclecontrol]    Script Date: 17/08/2020 21:11:55 ******/
CREATE DATABASE [vehiclecontrol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vehiclecontrol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\vehiclecontrol.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vehiclecontrol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\vehiclecontrol_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vehiclecontrol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vehiclecontrol]
GO
/****** Object:  Table [dbo].[Anuncio]    Script Date: 17/08/2020 21:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anuncio](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Version] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[Ano] [int] NOT NULL,
	[ValorCompra] [decimal](12, 2) NOT NULL,
	[ValorVenda] [decimal](12, 2) NOT NULL,
	[Cor] [varchar](50) NOT NULL,
	[TipoCombustivel] [varchar](50) NOT NULL,
	[DataVenda] [datetime] NOT NULL,
	[MarcaKey] [varchar](100) NOT NULL,
	[ModeloKey] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 17/08/2020 21:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Version] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Description] [varchar](400) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 17/08/2020 21:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Version] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Detail] [varchar](400) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 17/08/2020 21:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Version] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
